body {
    background-color: #292b2c;
    color: #f7f7f7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    margin-top: 1vw;
}

h2 {
    text-align: center;
}

#img-container {
    display: block;
    margin: auto;
    width: 90%;
    height: 30vw;
    position: absolute;
    left: 0;
    right: 0;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 2vw;
    width: 1000px;
    height: 30vw;
    object-fit: cover;
    object-position: 0;

}

input[type="range"] {
    display: block;
    margin: auto;
    border: 1px solid whitesmoke;
    margin-top: 32vw;
}
